.header {
  background-color: var(--main-bg-color);
  color: var(--white-text-color);
  height: 142px;
  padding-top: 62px;
  padding-bottom: 48px;
  padding-left: var(--container-padding-left);
  padding-right: var(--container-padding-right);
}

.header h1 {
  margin-bottom: 5px;
  font-size: 35px;
  line-height: 48.78px;
  letter-spacing: 1px;
  font-weight: 700;
  word-break: break-all;
}

.header a {
  color: var(--white-text-color);
}

.header p {
  overflow-wrap: break-word;
  font-size: 20px;
  margin: 0;
}

.header__img {
  width: 141px;
  height: 142px;
  border-radius: var(--rounded-border);
  margin-right: 22px;
}

.header__portfolio-info {
  width: 485px;
}

.header__portfolio-holder {
  width: 315px;
  height: 73px;
  margin-top: 19px;
}

.header__list {
  width: 174px;
  float: right;
  list-style: none;
  margin: 0;
}

.header__list > li {
  font-size: 18px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
}
